.NavBar{
    padding:0.5rem 1rem;
    background-color: #1E293B;
    color:white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem ;
    margin: auto;
}
.list-non-bullet{
    list-style-type:none;
    text-align:right;

}
.list-item-inline{
    display:inline;
    padding:1;
    margin:5px;
}
