.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.owner{
    font-size:large;
}
.nav-pills{
    display:flex;
    margin-right: 10px;
    width:60px;
    justify-content:center;
    font-size: large;
}
.nav{
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    align-items:center;
}
body{
    background-image: url(./images/background4.jpg);
    background-size: cover;
}
.nav-link{
    color:aliceblue;
    text-decoration: none;
}

.nav-link:hover{
    font-weight: bold;
    font-size:larger;
}